@{
    ViewData["Title"] = "WAZAAA";
}
<div class="text-center">
    <h1 class="display-4">--- CINEMA ---</h1>
    
    <p>Learn about @ViewData["Title"] <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
